@model IEnumerable<MvcProekt.Models.Genres>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>
<hr />

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create"><button type="button" class="btn btn-primary">Create</button></a>
    </p>
}

<div>
    @foreach(var model in Model)
    {
        @foreach(var genre in model.BookGenres)
        {
            <h4>@genre.Genre.GenreName</h4>
            @foreach (var book in model.BookGenres)
            {
                if(genre.GenreId == book.GenreId)
                {
                    <li>
                        <a asp-controller="Books" asp-action="Details" asp-route-id="@book.Book.Id">@book.Book.Title</a>
                    </li>
                }
            }
            <hr />            
        }
    }
</div>