@model MvcProekt.ViewModel.BookGenresCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YearPublished" class="control-label"></label>
                <input asp-for="Book.YearPublished" class="form-control" />
                <span asp-validation-for="Book.YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.NumPages" class="control-label"></label>
                <input asp-for="Book.NumPages" class="form-control" />
                <span asp-validation-for="Book.NumPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publisher" class="control-label"></label>
                <input asp-for="Book.Publisher" class="form-control" />
                <span asp-validation-for="Book.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontPageFile" class="control-label"></label>
                <input asp-for="FrontPageFile" type="file" class="form-control" />
                <span asp-validation-for="FrontPageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdfFile" class="control-label"></label>
                <input asp-for="PdfFile" type="file" class="form-control" />
                <span asp-validation-for="PdfFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label"></label>
                <select asp-for="Book.AuthorId" class="form-control" asp-items="@Model.AuthorsList"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenres" class="control-label">Genres</label>
                <select asp-for="SelectedGenres" class="form-control" asp-items="@Model.GenreList" multiple>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button type="button" class="btn btn-outline-secondary">Back to the list</button></a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#SelectedGenres").select2();
        });
    </script>
}
